@use '../../styles/constants.scss' as *;

.status {
  position: absolute;
  left: 2px;
  top: 0;
  transform: translateY(calc(-100% - 0.25rem));
  color: $color-background;

  &.error {
    color: $color-error;
  }
}
