@use '../../styles/constants.scss' as *;

.arbor-chart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;

  a {
    cursor: pointer;
  }
}
